.idea/

*.joblib
*.h5
*.tf
*.pickle
*.pickle.old
*.weights.*
__pycache__
.ipynb_checkpoints

/data/adult/
/data/artificial/
/data/immodata/
/models/logs/
/demonstration/logs/

!/demonstration/transition_matrices/*.pickle
